/* body {
    background-color: #f8f9fa;
}
.container {
    max-width: 800px;
}
.card {
    border-radius: 10px;
} */
body {
    background-image: url('/static/background.png');
    background-repeat: no-repeat;
    background-position: center center; /* or try center center */
    background-attachment: fixed;
    background-size: cover;
    color: #000;
    margin: 0;
    min-height: 100vh;
}
.container {
    max-width: 800px;
}
.card {
    border-radius: 10px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
video {
    max-width: 100%;
}
@media (max-width: 576px) {
    .card {
        margin-bottom: 1rem;
    }
    .btn-sm {
        font-size: 0.8rem;
    }
}